@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%,
      var(--tw-gradient-stops));

  --color-wine: #731c47;
  --color-bubblegum: #e38cb8;
  --color-licorice: #1a0008;
  --color-pink-light: #ffe5ed;
  --color-purple-dark: #2b012a;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer base {
  html {
    @apply text-wine dark:text-bubblegum;
  }

  html * {
    @apply transition-all;
    @apply scroll-mt-24;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-3xl font-medium snap-center;
  }

  h4 {
    @apply text-2xl;
  }

  a,
  button {
    @apply hover:text-rose-950 dark:hover:text-rose-200;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

::selection {
  @apply text-wine bg-rose-300;
}

* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(0deg, #d2b9f9 0%, #ecb9f9 70%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

html.dark {
  background-image: linear-gradient(0deg, hsl(264, 84%, 15%) 0%, #3a0647 70%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-x: hidden
}